<?php
$CONFIG = array (
  'dbtype' => '{{ nextcloud_database_server }}',
  'dbname' => '{{ nextcloud_database_name }}',
  'dbhost' => 'localhost',
  'dbtableprefix' => 'oc_',
  'dbuser' => '{{ nextcloud_database_username }}',
  'dbpassword' => '{{ nextcloud_database_password }}',
);
